USE [master]
GO
/****** Object:  Database [Db_MVC_Store]    Script Date: 11/15/2024 3:12:38 AM ******/
CREATE DATABASE [Db_MVC_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_MVC_Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MVC_Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_MVC_Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MVC_Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_MVC_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_MVC_Store]
GO
/****** Object:  Table [dbo].[tblAdmins]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmins](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_tblAdmins] PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](50) NULL,
 CONSTRAINT [PK_tblCategories] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [varchar](50) NULL,
	[customerSurname] [varchar](50) NULL,
	[customerCity] [varchar](50) NULL,
	[customerAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tblCustomers] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployees]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployees](
	[employeeId] [int] IDENTITY(1,1) NOT NULL,
	[employeeName] [varchar](50) NULL,
	[employeeSurname] [varchar](50) NULL,
	[employeeDepartment] [varchar](50) NULL,
 CONSTRAINT [PK_tblEmployees] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](50) NULL,
	[productBrand] [varchar](50) NULL,
	[productStock] [smallint] NULL,
	[productBuyPrice] [decimal](18, 2) NULL,
	[productSellPrice] [decimal](18, 2) NULL,
	[productCategory] [int] NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSales]    Script Date: 11/15/2024 3:12:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSales](
	[saleId] [int] IDENTITY(1,1) NOT NULL,
	[saleProduct] [int] NULL,
	[saleEmployee] [int] NULL,
	[saleCustomer] [int] NULL,
	[saleAmount] [decimal](18, 2) NULL,
	[saleDate] [smalldatetime] NULL,
 CONSTRAINT [PK_tblSales] PRIMARY KEY CLUSTERED 
(
	[saleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSales] ADD  CONSTRAINT [DF_tblSales_saleDate]  DEFAULT (getdate()) FOR [saleDate]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblCategories] FOREIGN KEY([productCategory])
REFERENCES [dbo].[tblCategories] ([categoryId])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblCategories]
GO
ALTER TABLE [dbo].[tblSales]  WITH CHECK ADD  CONSTRAINT [FK_tblSales_tblCustomers] FOREIGN KEY([saleCustomer])
REFERENCES [dbo].[tblCustomers] ([customerId])
GO
ALTER TABLE [dbo].[tblSales] CHECK CONSTRAINT [FK_tblSales_tblCustomers]
GO
ALTER TABLE [dbo].[tblSales]  WITH CHECK ADD  CONSTRAINT [FK_tblSales_tblEmployees] FOREIGN KEY([saleEmployee])
REFERENCES [dbo].[tblEmployees] ([employeeId])
GO
ALTER TABLE [dbo].[tblSales] CHECK CONSTRAINT [FK_tblSales_tblEmployees]
GO
ALTER TABLE [dbo].[tblSales]  WITH CHECK ADD  CONSTRAINT [FK_tblSales_tblProducts] FOREIGN KEY([saleProduct])
REFERENCES [dbo].[tblProducts] ([productId])
GO
ALTER TABLE [dbo].[tblSales] CHECK CONSTRAINT [FK_tblSales_tblProducts]
GO
USE [master]
GO
